workflow/Air_quality.json
{
  "name": "Air_quality",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_air_quality",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "c985cae0-ad9a-48de-ab5f-0cde9ba01b40",
      "name": "Analyze Air Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1320,
        -860
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/air_cleaner/air_cleaner",
        "jsonParameters": true,
        "options": {
          "timeout": 120000,
          "maxTries": 3,
          "retry": true,
          "retryOnFail": true,
          "retryDelay": 10000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"air_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "5097bf0c-a1e3-421e-b24a-de619a5a71da",
      "name": "Clean Air Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        -580
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/water_cleaner/clean_water_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000,
          "maxTries": 3,
          "retry": true,
          "retryOnFail": true,
          "retryDelay": 10000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"water_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "7fbbfe76-53fa-4bb0-802e-462649fde90a",
      "name": "Clean Water Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        -340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/climate_cleaner/clean_climate_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000,
          "maxTries": 3,
          "retry": true,
          "retryOnFail": true,
          "retryDelay": 10000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"climate\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "8859eda1-e1e8-4f5e-9f37-b0fd0189f1c1",
      "name": "Clean Climate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        -60
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/soil_cleaner/clean_soil_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000,
          "maxTries": 3,
          "retry": true,
          "retryOnFail": true,
          "retryDelay": 10000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"soil_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "56366b94-dcdc-4acf-a59c-d523fe55c96b",
      "name": "Clean Soil Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "9bcae384-6439-4aff-aead-09434856aab2",
      "name": "Check Data Quality Soil",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1900,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "0bdd6f46-9f17-4145-bfe2-04bd29ff7bf4",
      "name": "Check Data Quality Climate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1900,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "7e614ddd-f9b3-4918-b463-42ac83d17fee",
      "name": "Check Data Quality Water",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1900,
        -260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "1fc0c793-d009-4446-96de-a6573673626d",
      "name": "Check Data Quality Air",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1900,
        -480
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/soil_cleaner/clean_soil_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"soil_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "56366b94-dcdc-4acf-a59c-d523fe55c96b",
      "name": "Clean Soil Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/water_cleaner/clean_water_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"water_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "7fbbfe76-53fa-4bb0-802e-462649fde90a",
      "name": "Clean Water Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        -340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/climate_cleaner/clean_climate_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"climate\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "8859eda1-e1e8-4f5e-9f37-b0fd0189f1c1",
      "name": "Clean Climate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1680,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "soil-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e829b6c0-05fe-4d81-a47b-2574341d539c",
      "name": "Validate Soil Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "climate-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "45bbb3fe-7126-413a-8aed-7becbca76d68",
      "name": "Validate Climate Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2100,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "water-quality-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a76ecc50-99d3-4274-ada4-ca9838f79e2a",
      "name": "Validate Water Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2100,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "air-quality-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65d4c813-1a0f-4a14-97ba-5cd44326b517",
      "name": "Validate Air Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2100,
        -340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://soil_crawler:8083/run_enhanced_soil_crawl",
        "options": {
          "timeout": 240000
        }
      },
      "id": "53291d68-b401-4f82-8019-9c3107ac63a0",
      "name": "Soil Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -2320,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://climate_crawler:8084/run_climate_crawl",
        "options": {
          "timeout": 180000
        }
      },
      "id": "7dc949ee-a6ca-45e9-8e16-1d239c4ec92e",
      "name": "Climate Data Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -2320,
        80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://water_crawler:8082/run_water_crawl",
        "options": {
          "timeout": 180000
        }
      },
      "id": "181d9903-8d90-4f3c-bb63-e3baa1308bea",
      "name": "Water Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -2320,
        -140
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://air_crawler:8081/run_optimized_crawl",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c326f9bd-c739-4bd2-b73c-e1a4e223c349",
      "name": "Air Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -2320,
        -340
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "12hours"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e522744-516c-425c-871f-f2d61cf42d34",
      "name": "Set 12H Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3240,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "6hours"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a82456e-e9c5-44df-9513-a2ad85a73d86",
      "name": "Set 6H Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3240,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "hourly"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b0b250b-1934-40e5-bd3a-e37093e5c2ac",
      "name": "Set Hourly Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3240,
        -200
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */12 * * *"
            }
          ]
        }
      },
      "id": "c5b771d5-a9db-42e2-a202-dc92e89bd58e",
      "name": "Master Trigger 12 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -3440,
        200
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "d27789f8-c242-4d07-a329-c44f78efdbad",
      "name": "Master Trigger 6 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -3440,
        0
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "c8b36dee-30ae-4266-82ea-3ed0dae360bc",
      "name": "Master Trigger Hourly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -3440,
        -200
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2940,
        0
      ],
      "id": "8b4fc64b-b4c5-4bcf-bdb1-7e6ced83a533",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cac9a6a-3c8e-4b9e-a7f3-acd3fecf0cdc",
              "leftValue": "={{ $json.trigger_type }}",
              "rightValue": "hourly",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2740,
        -80
      ],
      "id": "cec81c14-cce6-49e7-9f7e-9b0db591ad50",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b87be880-7839-40d8-9257-56db6246e2c8",
              "leftValue": "={{ $json.trigger_type }}",
              "rightValue": "6hours",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2520,
        100
      ],
      "id": "91f46cd3-0dd0-4cea-8f64-a0b7ee5ba1ec",
      "name": "If1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_soil_quality",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "3936918c-60fb-4c92-bb30-1467918e6b5e",
      "name": "Analyze Soil Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1320,
        -80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_climate",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "f55086fd-be1a-478a-a5e6-5506e6fe850d",
      "name": "Analyze Climate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1320,
        -340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_water_quality",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "aebf6a7c-a1bd-431a-b1e2-bd15347fc13b",
      "name": "Analyze Water Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1320,
        -620
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "27a61f5b-a364-4982-849e-f04fdb83ba19",
      "name": "Merge All Analyses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -1000,
        -360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/unified_analysis",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"air_quality\": $json[0], \"water_quality\": $json[1], \"climate\": $json[2], \"soil_quality\": $json[3] } }}"
      },
      "id": "1f570427-0da7-43d3-9cc7-9704522e7c36",
      "name": "Unified Environmental Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -820,
        -360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 4,
        "chooseBranchMode": "={{ $json.status }}",
        "useDataOfInput": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1320,
        200
      ],
      "id": "84a28a52-8570-4a50-88fc-7a2206042b23",
      "name": "Merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
"text": "=🧹 **Kết quả tổng hợp các bước làm sạch dữ liệu**\\n\\n- Air: {{ $item(0).json.success ? '✅ Thành công' : '❌ Lỗi' }} ({{ $item(0).json.total_rows || 0 }} bản ghi)\\n- Water: {{ $item(1).json.success ? '✅ Thành công' : '❌ Lỗi' }} ({{ $item(1).json.total_rows || 0 }} bản ghi)\\n- Climate: {{ $item(2).json.success ? '✅ Thành công' : '❌ Lỗi' }} ({{ $item(2).json.total_rows || 0 }} bản ghi)\\n- Soil: {{ $item(3).json.success ? '✅ Thành công' : '❌ Lỗi' }} ({{ $item(3).json.total_rows || 0 }} bản ghi)\\n\\n⏰ Thời gian: {{ $now.toLocaleString('vi-VN') }}",
        "options": {}
      },
      "id": "clean-discord-summary",
      "name": "Discord Clean Summary",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        -1500,
        -200
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1580,
        -340
      ],
      "id": "merge-clean-results",
      "name": "Merge Clean Results",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Master Trigger Hourly": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Clean Air Data": {
      "main": [
        [
          {
            "node": "merge-clean-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Air": {
      "main": [
        [
          {
            "node": "Clean Air Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Air Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Soil": {
      "main": [
        [
          {
            "node": "Clean Soil Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Climate": {
      "main": [
        [
          {
            "node": "Clean Climate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Water": {
      "main": [
        [
          {
            "node": "Clean Water Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Soil Data": {
      "main": [
        [
          {
            "node": "Analyze Soil Quality",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Clean Climate Data": {
      "main": [
        [
          {
            "node": "Analyze Climate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Clean Water Data": {
      "main": [
        [
          {
            "node": "Analyze Water Quality",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Validate Soil Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Soil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Climate Data": {
      "main": [
        [
          {
            "node": "Check Data Quality Climate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Water Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Water",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Air Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Air",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soil Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Soil Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Climate Data Crawler": {
      "main": [
        [
          {
            "node": "Validate Climate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Water Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Air Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Air Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 12H Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set 6H Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Hourly Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger 12 Hours": {
      "main": [
        [
          {
            "node": "Set 12H Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger 6 Hours": {
      "main": [
        [
          {
            "node": "Set 6H Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger Hourly": {
      "main": [
        [
          {
            "node": "Set Hourly Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Air Quality Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Water Quality Crawler",
            "type": "main",
            "index": 0
          },
          {
            "node": "Climate Data Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Soil Quality Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Water Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze Climate": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze Soil Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Analyses": {
      "main": [
        [
          {
            "node": "Unified Environmental Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4771d06c-b699-47a6-9497-5aac678971b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d7d794ec097e8493e9b682ddc5b6c60418f0bde8d02fd4e6f87d1765a52aebb"
  },
  "id": "FP3BmGh1KCxkVQDa",
  "tags": [
    {
      "createdAt": "2025-06-30T18:34:17.554Z",
      "updatedAt": "2025-06-30T18:34:17.554Z",
      "id": "2XGZwx21mujhR4wt",
      "name": "air-quality-enhanced"
    },
    {
      "createdAt": "2025-06-30T18:34:17.493Z",
      "updatedAt": "2025-06-30T18:34:17.493Z",
      "id": "8fvkCAeQZvgIKLSy",
      "name": "production-ready"
    },
    {
      "createdAt": "2025-06-30T18:34:17.433Z",
      "updatedAt": "2025-06-30T18:34:17.433Z",
      "id": "GY82Hpf9unRajQpn",
      "name": "monitoring-system"
    },
    {
      "createdAt": "2025-07-06T17:24:18.008Z",
      "updatedAt": "2025-07-06T17:24:18.008Z",
      "id": "IpHpfH8vmQUPSBaC",
      "name": "Environmental Monitoring"
    },
    {
      "createdAt": "2025-07-06T17:24:17.979Z",
      "updatedAt": "2025-07-06T17:24:17.979Z",
      "id": "Vsvd3diqiHfyYlCn",
      "name": "Automated Analysis"
    },
    {
      "createdAt": "2025-06-26T18:29:58.452Z",
      "updatedAt": "2025-06-26T18:29:58.452Z",
      "id": "eYFfb2lOgrQIn36O",
      "name": "air-quality"
    },
    {
      "createdAt": "2025-07-06T17:24:18.024Z",
      "updatedAt": "2025-07-06T17:24:18.024Z",
      "id": "iq0uVFFyUdIJsenM",
      "name": "Multi-Source Integration"
    },
    {
      "createdAt": "2025-06-30T18:54:02.650Z",
      "updatedAt": "2025-06-30T18:54:02.650Z",
      "id": "vw6WPpyCU1QQdG7j",
      "name": "discord-notifications"
    }
  ]
}