workflow/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "e46fbc8a-856a-4231-999a-c3252932add3",
      "name": "Master Trigger Hourly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1020,
        40
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "23b0e767-594a-4083-acd1-83eaca93bb67",
      "name": "Master Trigger 6 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1020,
        240
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */12 * * *"
            }
          ]
        }
      },
      "id": "d0841a48-57b3-488c-bd12-d5e96334e74a",
      "name": "Master Trigger 12 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1020,
        440
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.trigger_type }}",
        "rules": {
          "rule": [
            {
              "value": "hourly"
            },
            {
              "value": "6hours"
            },
            {
              "value": "12hours"
            }
          ]
        }
      },
      "id": "31c7c0b2-ac18-4ca1-a98c-d3786fe94c2c",
      "name": "Workflow Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -540,
        220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "hourly"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68c56bee-f016-4383-8fa4-4d8e0017d84b",
      "name": "Set Hourly Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -820,
        40
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "6hours"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a6a23d6-ffb2-409b-9e71-fb7117b011f5",
      "name": "Set 6H Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -820,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "12hours"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df424995-cb90-42b3-843a-11443cccb1db",
      "name": "Set 12H Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -820,
        440
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://air_quality_service:8081/run_optimized_crawl",
        "options": {
          "timeout": 120000
        }
      },
      "id": "216b1df0-c1bd-4071-8734-015f5070ac0c",
      "name": "Air Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        -80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://water_quality_service:8082/run_water_crawl",
        "options": {
          "timeout": 180000
        }
      },
      "id": "54e38e6e-c5fc-4b89-b5bf-f59777ddaefc",
      "name": "Water Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        120
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://climate_service:8083/run_climate_crawl",
        "options": {
          "timeout": 180000
        }
      },
      "id": "88b39c72-27f9-4cf2-81c5-835cd9f9edb1",
      "name": "Climate Data Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://soil_quality_service:8084/run_soil_crawl",
        "options": {
          "timeout": 240000
        }
      },
      "id": "70c83a1d-9125-4e5e-a7f4-16dcf1807bf0",
      "name": "Soil Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "air-quality-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "922930bf-90ab-465c-a70e-75f976d2ec2e",
      "name": "Validate Air Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "water-quality-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73fdd18d-cb76-4747-9bfe-f6a25134e1a7",
      "name": "Validate Water Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "climate-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f1dde18-e795-46cb-a0aa-ebad5d40bc98",
      "name": "Validate Climate Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "soil-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d1d339b-1170-406b-b13a-8b05763b8de2",
      "name": "Validate Soil Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        560
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://data_cleaner:8080/clean_air_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"air_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "5ef7464e-d6d9-4701-a1db-dbcf3624a522",
      "name": "Clean Air Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        -320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://data_cleaner:8080/clean_water_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"water_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "7aedabf0-7caa-4ccd-bb4c-6522ceb064fe",
      "name": "Clean Water Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        -80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://data_cleaner:8080/clean_climate_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"climate\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "be1e6a7e-14a6-4356-a1aa-4b4b1746e6fe",
      "name": "Clean Climate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://data_cleaner:8080/clean_soil_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"soil_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "9f043d98-64e2-45f1-8aab-fd2231ddd218",
      "name": "Clean Soil Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_air_quality",
        "jsonParameters": true,
        "options": {
          "timeout": 90000
        },
        "bodyParametersJson": "={{ { \"data\": $json.data, \"include_health_recommendations\": true, \"alert_threshold\": 100 } }}"
      },
      "id": "14d08676-a65a-4197-9271-c9f59607e384",
      "name": "Analyze Air Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        -320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_water_quality",
        "jsonParameters": true,
        "options": {
          "timeout": 90000
        },
        "bodyParametersJson": "={{ { \"data\": $json.data, \"include_health_recommendations\": true, \"wqi_threshold\": 50 } }}"
      },
      "id": "95484583-6b15-4c96-9068-eb63d7ccce5a",
      "name": "Analyze Water Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        -80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_climate",
        "jsonParameters": true,
        "options": {
          "timeout": 90000
        },
        "bodyParametersJson": "={{ { \"data\": $json.data, \"include_health_recommendations\": true, \"heat_threshold\": 35 } }}"
      },
      "id": "6b249d74-1144-427d-ba42-a3aca1fb400a",
      "name": "Analyze Climate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_soil_quality",
        "jsonParameters": true,
        "options": {
          "timeout": 90000
        },
        "bodyParametersJson": "={{ { \"data\": $json.data, \"include_health_recommendations\": true, \"contamination_threshold\": 0.1 } }}"
      },
      "id": "a0ee2751-be77-4080-bc6a-1ae640e3c28b",
      "name": "Analyze Soil Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        460
      ]
    },
    {
      "parameters": {},
      "id": "95c647c2-12fe-446a-8eaf-9cbc08276c20",
      "name": "Merge All Analyses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        940,
        180
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/unified_analysis",
        "jsonParameters": true,
        "options": {
          "timeout": 180000
        },
        "bodyParametersJson": "={{ { \"air_quality\": $json[0] || null, \"water_quality\": $json[1] || null, \"climate\": $json[2] || null, \"soil_quality\": $json[3] || null, \"correlation_analysis\": true, \"risk_assessment\": true } }}"
      },
      "id": "5b2eba2f-497b-483e-8549-54704dc44819",
      "name": "Unified Environmental Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "critical-alert-check",
              "leftValue": "={{ $json.overall_risk_level }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c466764e-0ea7-4532-9bdc-d588ecc95beb",
      "name": "Check Critical Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "high-alert-check",
              "leftValue": "={{ $json.overall_risk_level }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f32fd134-d06d-444a-8661-6c0697006377",
      "name": "Check High Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        580
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://alert_manager:8085/send_critical_alert",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ { \"alert_data\": $json, \"channels\": [\"discord\", \"email\", \"sms\"], \"priority\": \"critical\" } }}"
      },
      "id": "ae5983d3-64e3-40e2-8e25-b70ccb1c894f",
      "name": "Send Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1460,
        160
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://alert_manager:8085/send_high_alert",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ { \"alert_data\": $json, \"channels\": [\"discord\", \"email\"], \"priority\": \"high\" } }}"
      },
      "id": "421bd8f8-ad42-47bc-b72f-2050fcba9ea5",
      "name": "Send High Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1460,
        320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://alert_manager:8085/send_normal_notification",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ { \"alert_data\": $json, \"channels\": [\"discord\"], \"priority\": \"normal\" } }}"
      },
      "id": "814901d7-242a-41db-9511-fa68b04555c7",
      "name": "Send Normal Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1460,
        480
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://data_storage:8086/store_environmental_data",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={{ { \"unified_data\": $json, \"timestamp\": $now, \"backup\": true, \"retention_days\": 365 } }}"
      },
      "id": "4e33bac4-795f-43f6-ad3d-fd90a8ef120c",
      "name": "Store Environmental Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1660,
        240
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/log_execution",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ { \"workflow_name\": \"Environmental_Monitoring_Master\", \"execution_time\": $now, \"success\": true, \"data_sources\": [\"air\", \"water\", \"climate\", \"soil\"], \"alert_level\": $json.overall_risk_level || \"normal\" } }}"
      },
      "id": "e533daeb-6354-4d85-94f7-35ae38b48226",
      "name": "Log Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1860,
        240
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "text": "=🔄 **Hệ Thống Giám Sát Môi Trường**\n\n📊 **Tổng Quan Tình Trạng Môi Trường**\n- Mức độ rủi ro tổng thể: {{ $json.overall_risk_level || 'Bình thường' }}\n- Điểm sức khỏe môi trường: {{ $json.environmental_health_score || 'N/A' }}/100\n\n🌬️ **Chất Lượng Không Khí**\n- AQI: {{ $json.air_quality?.aqi || 'N/A' }}\n- Trạng thái: {{ $json.air_quality?.status || 'N/A' }}\n\n💧 **Chất Lượng Nước**\n- WQI: {{ $json.water_quality?.wqi || 'N/A' }}\n- Trạng thái: {{ $json.water_quality?.status || 'N/A' }}\n\n🌡️ **Khí Hậu**\n- Nhiệt độ: {{ $json.climate?.temperature || 'N/A' }}°C\n- Chỉ số nhiệt: {{ $json.climate?.heat_index || 'N/A' }}\n\n🌱 **Chất Lượng Đất**\n- Mức độ ô nhiễm: {{ $json.soil_quality?.contamination_level || 'N/A' }}\n- Trạng thái: {{ $json.soil_quality?.status || 'N/A' }}\n\n📋 **Khuyến Nghị Tổng Hợp**\n{{ $json.unified_recommendations || 'Không có khuyến nghị đặc biệt' }}\n\n⏰ Cập nhật lúc: {{ $now.toLocaleString('vi-VN') }}",
        "options": {}
      },
      "id": "5dfa6e72-6dc4-42b1-b11e-c7feb9a16df0",
      "name": "Discord Unified Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1660,
        400
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://dashboard_service:8087/update_dashboard",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={{ { \"environmental_data\": $json, \"timestamp\": $now, \"update_charts\": true, \"refresh_maps\": true } }}"
      },
      "id": "c987e5f0-9a20-4e6d-8d20-4136c99afb41",
      "name": "Update Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1860,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "94ee9913-db1c-4531-8158-e8f51b23f22e",
      "name": "Check Data Quality Air",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "318603ff-d1e3-49be-bf9b-658c28264e74",
      "name": "Check Data Quality Water",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "e7b11964-1bef-4be0-bb8c-e941b4c4ce9c",
      "name": "Check Data Quality Climate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "3ce73001-b3b6-43d4-a9e1-bd047c71ece1",
      "name": "Check Data Quality Soil",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Master Trigger Hourly": {
      "main": [
        [
          {
            "node": "Set Hourly Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger 6 Hours": {
      "main": [
        [
          {
            "node": "Set 6H Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger 12 Hours": {
      "main": [
        [
          {
            "node": "Set 12H Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Hourly Trigger": {
      "main": [
        [
          {
            "node": "Workflow Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 6H Trigger": {
      "main": [
        [
          {
            "node": "Workflow Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 12H Trigger": {
      "main": [
        [
          {
            "node": "Workflow Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Router": {
      "main": [
        [
          {
            "node": "Air Quality Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Water Quality Crawler",
            "type": "main",
            "index": 0
          },
          {
            "node": "Climate Data Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Soil Quality Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Air Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Air Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Water Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Climate Data Crawler": {
      "main": [
        [
          {
            "node": "Validate Climate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soil Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Soil Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Air Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Air",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Water Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Water",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Climate Data": {
      "main": [
        [
          {
            "node": "Check Data Quality Climate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Soil Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Soil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Air": {
      "main": [
        [
          {
            "node": "Clean Air Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Water": {
      "main": [
        [
          {
            "node": "Clean Water Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Climate": {
      "main": [
        [
          {
            "node": "Clean Climate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Soil": {
      "main": [
        [
          {
            "node": "Clean Soil Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Air Data": {
      "main": [
        [
          {
            "node": "Analyze Air Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Water Data": {
      "main": [
        [
          {
            "node": "Analyze Water Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Climate Data": {
      "main": [
        [
          {
            "node": "Analyze Climate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Soil Data": {
      "main": [
        [
          {
            "node": "Analyze Soil Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Air Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Water Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Analyses": {
      "main": [
        [
          {
            "node": "Unified Environmental Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unified Environmental Analysis": {
      "main": [
        [
          {
            "node": "Check Critical Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check High Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Environmental Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Unified Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Critical Alerts": {
      "main": [
        [
          {
            "node": "Send Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Normal Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Alerts": {
      "main": [
        [
          {
            "node": "Send High Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Normal Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Critical Alert": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send High Alert": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Normal Notification": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Environmental Data": {
      "main": [
        [
          {
            "node": "Update Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Unified Notification": {
      "main": [
        [
          {
            "node": "Update Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Climate": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze Soil Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f693acf4-0e54-48b9-912e-4fb3c8c1dc2f",
  "meta": {
    "instanceId": "3d7d794ec097e8493e9b682ddc5b6c60418f0bde8d02fd4e6f87d1765a52aebb"
  },
  "id": "VYwIWkBboQsrtM4S",
  "tags": [
    {
      "createdAt": "2025-07-06T17:24:18.008Z",
      "updatedAt": "2025-07-06T17:24:18.008Z",
      "id": "IpHpfH8vmQUPSBaC",
      "name": "Environmental Monitoring"
    },
    {
      "createdAt": "2025-07-06T17:24:17.979Z",
      "updatedAt": "2025-07-06T17:24:17.979Z",
      "id": "Vsvd3diqiHfyYlCn",
      "name": "Automated Analysis"
    },
    {
      "createdAt": "2025-07-06T17:24:18.024Z",
      "updatedAt": "2025-07-06T17:24:18.024Z",
      "id": "iq0uVFFyUdIJsenM",
      "name": "Multi-Source Integration"
    }
  ]
}