workflow/My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://api:8000/air-process-data",
        "jsonParameters": true,
        "options": {
          "timeout": 90000
        },
        "bodyParametersJson": "={{ { \"data\": $json.data, \"include_health_recommendations\": true, \"alert_threshold\": 100 } }}"
      },
      "id": "14d08676-a65a-4197-9271-c9f59607e384",
      "name": "Analyze Air Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        -320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/air_cleaner/air_cleaner",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"air_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "5ef7464e-d6d9-4701-a1db-dbcf3624a522",
      "name": "Clean Air Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "3ce73001-b3b6-43d4-a9e1-bd047c71ece1",
      "name": "Check Data Quality Soil",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "e7b11964-1bef-4be0-bb8c-e941b4c4ce9c",
      "name": "Check Data Quality Climate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "318603ff-d1e3-49be-bf9b-658c28264e74",
      "name": "Check Data Quality Water",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data ? $json.data.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "94ee9913-db1c-4531-8158-e8f51b23f22e",
      "name": "Check Data Quality Air",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        -220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/soil_cleaner/clean_soil_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"soil_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "9f043d98-64e2-45f1-8aab-fd2231ddd218",
      "name": "Clean Soil Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/water_cleaner/clean_water_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"water_quality\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "7aedabf0-7caa-4ccd-bb4c-6522ceb064fe",
      "name": "Clean Water Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        -80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://unified_cleaner:8090/climate_cleaner/clean_climate_data",
        "jsonParameters": true,
        "options": {
          "timeout": 120000
        },
        "bodyParametersJson": "={{ { \"csv_content\": $json.csv_content, \"timestamp\": $json.timestamp, \"data_type\": \"climate\", \"quality_check\": true, \"backup\": true } }}"
      },
      "id": "be1e6a7e-14a6-4356-a1aa-4b4b1746e6fe",
      "name": "Clean Climate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        380,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "soil-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d1d339b-1170-406b-b13a-8b05763b8de2",
      "name": "Validate Soil Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "climate-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f1dde18-e795-46cb-a0aa-ebad5d40bc98",
      "name": "Validate Climate Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "water-quality-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73fdd18d-cb76-4747-9bfe-f6a25134e1a7",
      "name": "Validate Water Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "air-quality-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "922930bf-90ab-465c-a70e-75f976d2ec2e",
      "name": "Validate Air Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        -80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://soil_crawler:8083/run_enhanced_soil_crawl",
        "options": {
          "timeout": 240000
        }
      },
      "id": "70c83a1d-9125-4e5e-a7f4-16dcf1807bf0",
      "name": "Soil Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        560
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://climate_crawler:8084/run_climate_crawl",
        "options": {
          "timeout": 180000
        }
      },
      "id": "88b39c72-27f9-4cf2-81c5-835cd9f9edb1",
      "name": "Climate Data Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://water_quality_service:8082/run_water_crawl",
        "options": {
          "timeout": 180000
        }
      },
      "id": "54e38e6e-c5fc-4b89-b5bf-f59777ddaefc",
      "name": "Water Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://air_crawler:8081/run_optimized_crawl",
        "options": {
          "timeout": 120000
        }
      },
      "id": "216b1df0-c1bd-4071-8734-015f5070ac0c",
      "name": "Air Quality Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        -80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "12hours"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df424995-cb90-42b3-843a-11443cccb1db",
      "name": "Set 12H Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1180,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "6hours"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a6a23d6-ffb2-409b-9e71-fb7117b011f5",
      "name": "Set 6H Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1180,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_type",
              "value": "hourly"
            },
            {
              "name": "timestamp",
              "value": "{{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68c56bee-f016-4383-8fa4-4d8e0017d84b",
      "name": "Set Hourly Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1180,
        60
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */12 * * *"
            }
          ]
        }
      },
      "id": "d0841a48-57b3-488c-bd12-d5e96334e74a",
      "name": "Master Trigger 12 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1380,
        460
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "23b0e767-594a-4083-acd1-83eaca93bb67",
      "name": "Master Trigger 6 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1380,
        260
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "e46fbc8a-856a-4231-999a-c3252932add3",
      "name": "Master Trigger Hourly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1380,
        60
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        260
      ],
      "id": "47042150-6702-4c34-96ed-2ba3763fe53c",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cac9a6a-3c8e-4b9e-a7f3-acd3fecf0cdc",
              "leftValue": "={{ $json.trigger_type }}",
              "rightValue": "hourly",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -680,
        180
      ],
      "id": "3c89d389-470d-42bf-a0cc-6819aeb1232a",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b87be880-7839-40d8-9257-56db6246e2c8",
              "leftValue": "={{ $json.trigger_type }}",
              "rightValue": "6hours",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        360
      ],
      "id": "efc29038-faed-4683-be53-371bb34c47af",
      "name": "If1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1389325106513444965/p8wraTcjw7RLvEj5b3sb3DOhlzEgixS_S0tYButKqxYz1PV9_Jl5Q_1ajXxZwftq2WNX",
        "text": "=✅ {{ $json[0].alert_message }}\n\nKhông có khu vực nào bị ảnh hưởng.\n\nThống kê:\n- Tổng địa điểm: {{ $json[0].statistics.total_locations }}\n- AQI trung bình: {{ $json[0].statistics.average_aqi }}\n- AQI cao nhất: {{ $json[0].statistics.max_aqi }}\n\nKhuyến nghị sức khỏe: {{ $json[0].global_health_recommendations }}",
        "options": {}
      },
      "id": "1863bde9-c4d6-46ce-ba0a-4c170008d221",
      "name": "Thông Báo Thành Công Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1389325106513444965/p8wraTcjw7RLvEj5b3sb3DOhlzEgixS_S0tYButKqxYz1PV9_Jl5Q_1ajXxZwftq2WNX",
        "text": "=🚨 {{ $json[0].alert_message }}\n\nThống kê:\n- Tổng địa điểm: {{ $json[0].statistics.total_locations }}\n- AQI trung bình: {{ $json[0].statistics.average_aqi }}\n- AQI cao nhất: {{ $json[0].statistics.max_aqi }}\n\nKhuyến nghị sức khỏe: {{ $json[0].global_health_recommendations }}",
        "options": {}
      },
      "id": "9ff13e99-ef6c-4606-8d9f-a6093bce18fc",
      "name": "Cảnh báo",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1300,
        -520
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1389325106513444965/p8wraTcjw7RLvEj5b3sb3DOhlzEgixS_S0tYButKqxYz1PV9_Jl5Q_1ajXxZwftq2WNX",
        "text": "=🚨 {{ $json[0].alert_message }}\n\nKhu vực bị ảnh hưởng: {{ $json[0].affected_areas }}\n\nThống kê:\n- Tổng địa điểm: {{ $json[0].statistics.total_locations }}\n- AQI trung bình: {{ $json[0].statistics.average_aqi }}\n- AQI cao nhất: {{ $json[0].statistics.max_aqi }}\n\nKhuyến nghị sức khỏe: {{ $json[0].global_health_recommendations }}",
        "options": {}
      },
      "id": "86c9ca58-b135-459a-84fc-f41c45c8787d",
      "name": "Cảnh báo1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1300,
        -360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a61f52af-36ea-4165-be39-6265a8598c43",
              "leftValue": "={{ $json[0].affected_areas || '' }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        -320
      ],
      "id": "ae181362-ddfc-43f5-a075-6587c7e682cc",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "441bd7a8-070f-4173-897a-e4abd999a9ed",
              "leftValue": "={{ $json[0][\"affected_areas\"].length }}",
              "rightValue": 1900,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        -440
      ],
      "id": "4df8982a-ac5f-4c06-a3ea-11b3763e56a7",
      "name": "If3"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_air_quality",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "analyze-air",
      "name": "Analyze Air Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        -320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_soil_quality",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "analyze-soil",
      "name": "Analyze Soil Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        460
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_climate",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "analyze-climate",
      "name": "Analyze Climate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/analyze_water_quality",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"data\": $json.data } }}"
      },
      "id": "analyze-water",
      "name": "Analyze Water Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        620,
        -80
      ]
    },
    {
      "parameters": {},
      "id": "merge-all-analyses",
      "name": "Merge All Analyses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        940,
        180
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://analytics_engine:8000/unified_analysis",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"air_quality\": $json[0], \"water_quality\": $json[1], \"climate\": $json[2], \"soil_quality\": $json[3] } }}"
      },
      "id": "unified-analysis",
      "name": "Unified Environmental Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "value": "Sau khi dữ liệu được làm sạch bởi unified_cleaner, node này gửi dữ liệu sang AI/ML engine để phân tích, dự báo, sinh cảnh báo và khuyến nghị sức khỏe. Kết quả phân tích sẽ được sử dụng cho các bước tiếp theo như gửi cảnh báo Discord hoặc lưu trữ."
      },
      "id": "note-ai-analysis",
      "name": "Ghi chú: Phân tích AI",
      "type": "n8n-nodes-base.note",
      "typeVersion": 1,
      "position": [
        500,
        -200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Clean Air Data": {
      "main": [
        [
          {
            "node": "Analyze Air Quality",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "note-ai-analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Air": {
      "main": [
        [
          {
            "node": "Clean Air Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Air Quality": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Soil": {
      "main": [
        [
          {
            "node": "Clean Soil Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Climate": {
      "main": [
        [
          {
            "node": "Clean Climate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality Water": {
      "main": [
        [
          {
            "node": "Clean Water Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Soil Data": {
      "main": [
        [
          {
            "node": "Analyze Soil Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Climate Data": {
      "main": [
        [
          {
            "node": "Analyze Climate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Water Data": {
      "main": [
        [
          {
            "node": "Analyze Water Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Soil Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Soil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Climate Data": {
      "main": [
        [
          {
            "node": "Check Data Quality Climate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Water Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Water",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Air Quality": {
      "main": [
        [
          {
            "node": "Check Data Quality Air",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soil Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Soil Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Climate Data Crawler": {
      "main": [
        [
          {
            "node": "Validate Climate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Water Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Air Quality Crawler": {
      "main": [
        [
          {
            "node": "Validate Air Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 12H Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set 6H Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Hourly Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger 12 Hours": {
      "main": [
        [
          {
            "node": "Set 12H Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger 6 Hours": {
      "main": [
        [
          {
            "node": "Set 6H Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Trigger Hourly": {
      "main": [
        [
          {
            "node": "Set Hourly Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Air Quality Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Water Quality Crawler",
            "type": "main",
            "index": 0
          },
          {
            "node": "Climate Data Crawler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Soil Quality Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thông Báo Thành Công Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Cảnh báo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cảnh báo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Water Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze Climate": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze Soil Quality": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Analyses": {
      "main": [
        [
          {
            "node": "Unified Environmental Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20d25b7c-6179-4032-9aef-a687aee39309",
  "meta": {
    "instanceId": "3d7d794ec097e8493e9b682ddc5b6c60418f0bde8d02fd4e6f87d1765a52aebb"
  },
  "id": "VYwIWkBboQsrtM4S",
  "tags": [
    {
      "createdAt": "2025-07-06T17:24:18.008Z",
      "updatedAt": "2025-07-06T17:24:18.008Z",
      "id": "IpHpfH8vmQUPSBaC",
      "name": "Environmental Monitoring"
    },
    {
      "createdAt": "2025-07-06T17:24:17.979Z",
      "updatedAt": "2025-07-06T17:24:17.979Z",
      "id": "Vsvd3diqiHfyYlCn",
      "name": "Automated Analysis"
    },
    {
      "createdAt": "2025-07-06T17:24:18.024Z",
      "updatedAt": "2025-07-06T17:24:18.024Z",
      "id": "iq0uVFFyUdIJsenM",
      "name": "Multi-Source Integration"
    }
  ]
}